.courses-container {
  display: flex;
  flex-wrap: wrap; /* מאפשר לפריטים לגלוש לשורות נוספות */
  gap: 80px; 
  justify-content: center; /* מיישר את הפריטים למרכז */
  overflow-x: auto; /* מוסיף גלילה אופקית במקרה שהפריטים יוצאים מהמסך */
  padding: 20px; /* מוסיף ריווח פנימי */
}

.course-card {
  flex: 0 0 auto; /* מבטיח שהפריטים לא יתכווצו ולא יגדלו מעבר לגודלם */
  width: 243.66px;
  height: 180px; /* הגדלנו את הגובה */
  position: relative;
  margin: 10px 0; /* ריווח אנכי */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.course-image {
  width: 100%;
  height: calc(100% - 50px); /* כיווץ הגובה של התמונה כדי לפנות מקום לחלק הלבן */
  object-fit: cover;
  display: block;
}

.course-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px; /* הגדלנו את הגובה של החלק הלבן */
  background: rgba(255, 255, 255, 0.9); /* שכבת תחתית לבנה/בהירה */
  padding: 10px 0;
  text-align: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* הוספנו צל עדין לחלק הלבן */
}

.course-title {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.course-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.course-card:hover .course-overlay {
  opacity: 1;
}

.course-description {
  font-size: 14px;
  margin: 5px 0;
  text-align: center;
}
