.courses-container {
  display: flex;
  flex-wrap: wrap; /* מאפשר לפריטים לגלוש לשורות נוספות */
  gap: 80px; 
  justify-content: center; /* מיישר את הפריטים למרכז */
  overflow-x: auto; /* מוסיף גלילה אופקית במקרה שהפריטים יוצאים מהמסך */
  padding: 20px; /* מוסיף ריווח פנימי */
}

.course-card {
  flex: 0 0 auto; /* מבטיח שהפריטים לא יתכווצו ולא יגדלו מעבר לגודלם */
  width: 243.66px;
  height: 121.33px;
  position: relative;
  margin: 10px 0; /* ריווח אנכי */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.course-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.course-title {
  position: absolute;
  top: 8px;
  left: 8px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 14px;
}

.course-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.course-card:hover .course-overlay {
  opacity: 1;
}

.course-description {
  font-size: 14px;
  margin: 5px 0;
  text-align: center;
}

.course-button {
  background-color: #007bff;
  color: white;
  padding: 7px 12px;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 25px;
}

.course-button:hover {
  background-color: #0056b3;
}
