.footer {
    background-color: #333; /* צבע כהה כמו הכותרת */
    color: #fff;
    padding: 10px 0; /* הפחתת הגובה של ה-footer */
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
  }
  
  .footer-section h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
    border-bottom: 2px solid #ffd700; /* צבע זהב */
    padding-bottom: 5px;
  }
  
  .footer-links {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-links li {
    margin-bottom: 8px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-links a:hover {
    color: #ffd700; /* צבע זהב */
  }
  
  .footer-socials {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .footer-social {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.3s;
  }
  
  .footer-social:hover {
    color: #ffd700; /* צבע זהב */
  }
  
  .footer-bottom {
    margin-top: 10px;
    font-size: 0.9em;
  }
  
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-section {
      text-align: center;
    }
  
    .footer-socials {
      justify-content: center;
    }
  }
  