/* body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} */

.content-background {
  background-image: url('../../assets/library.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content-body {
  flex-grow: 1;
  padding: 20px;
}

.container {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
}

/* ה-Header */
.header-container {
  position: relative;
  z-index: 2;
}

.header {
  background-color: rgba(87, 123, 141, 0.8); /* צבע רקע שקוף */
  z-index: 1;
  padding: 20px;
  border-radius: 0 0 10px 10px;
}

.header-container.header-transparent .header {
  background-color: rgba(87, 123, 141, 0.8); /* צבע רקע שקוף */
}
